<ol class="breadcrumb float-right">
  <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
  <li class="breadcrumb-item active">Cobacoba</li>
</ol>
<div class="card">
  <div class="header">
    <h2 class="title">Cobacoba Detail</h2>
  </div>
  <div class="content">
    <div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
    <form *ngIf="cobacoba" #editForm="ngForm" (ngSubmit)="save()">
    
      <div class="form-group">
        <label>Id</label>
        {{cobacoba.id || 'n/a'}} 
      </div>
    
      <div class="form-group">
        <label for="name">Name</label>
        <input [(ngModel)]="cobacoba.name" id="name" name="name" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="city">City</label>
        <input [(ngModel)]="cobacoba.city" id="city" name="city" class="form-control">
      </div>
    
      <div class="form-group">
        <label for="stars">Stars</label>
        <input [(ngModel)]="cobacoba.stars" id="stars" name="stars" class="form-control">
      </div>
    
      <button type="submit" class="btn btn-primary" [disabled]="!editForm.form.valid">Save</button>
      <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </form>
  </div>
</div>
