
<div class="container mx-auto my-4">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <div class="w-full px-8">
        <div class="">
            </div>
        <!-- <div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div> -->
            
            <form>
                <h1 class="text-gray-800 font-bold text-2xl mb-8">
                    Cek Detail
                  </h1>

                  <div class="my-4">
                    <label class="block mb-2 text-sm font-bold text-gray-700" >Id</label>
                   slot id
                  </div>
                  
            </form>
            </div>

</div>
</div>

